@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
@import "tailwindcss";

@theme {
  --font-jakarta: "Plus Jakarta Sans", sans-serif;
  --font-inter: "Inter", sans-serif;

  --color-brand-orange: #ff5722;
  --color-brand-pink: #d81b7e;
  --color-brand-purple: #7c3aed;
  --color-brand-pr: #d91b7e;
}
